{% extends 'clients/layout.html' %}

{% load static %}

{% block title %}Detail pojištěnce{% endblock title %}

{% block section %}
    <div class="client-detail">
        {% if client.surname|slice:"-1:" == "á" %}
        <img class="client-detail-portrait" src="{% static 'clients/user_female_icon.png' %}" height="150px" alt="">
        {% else %}
        <img class="client-detail-portrait" src="{% static 'clients/user_male_icon.png' %}" height="150px" alt="">
        {% endif %}
        <h2 id="client-detail-name">{{ client.name }} {{ client.surname }}</h2>
        <div id="client-detail-address">
            <p>{{ client.street_address }}</p>
            <p>{{ client.city }}</p>
            <p>{{ client.postal_code }}</p>
        </div>
        <div id="client-detail-contact">
            <p>{{ client.email }}</p>
            <p>{{ client.phone_number }}</p>
        </div>
    </div>


    <div class="table-content-box">
        <div class="content-box-header table-header">
            <h2>Sjednaná pojištění</h2>
            <a href="{% url 'clients:create-insurance' pk=client.id %}"><img src="{% static 'clients/add_circle.png' %}" alt="add circle" height="25px">PŘIDAT POJIŠTĚNÍ</a>
        </div>

        <div class="custom-table">
            <table>
                {% if insurances|length > 0 %}
                <tr>
                    <th>Typ pojištění</th>
                    <th>Pojistná částka</th>
                    <th>Platnost</th>
                    <th></th>
                    <th></th>
                </tr>
                {% endif %}
                {% for insurance in insurances %}
                <tr>
                    <td><a href="{% url 'clients:insurance-detail' pk=client.id id=insurance.id %}">{{ insurance.get_insurance_type_display }} ({{ insurance.subject }})</a></td>
                    <td>{{ insurance.amount }}</td>
                    <td>od {{ insurance.date_from|date:"d.m. Y" }} do {{ insurance.date_to|date:"d.m. Y" }}</td>
                    <td class="table-button"><a href="{% url 'clients:edit-insurance' pk=client.id id=insurance.id %}"><img src="{% static 'clients/edit.png' %}" height="25px" alt="edit" title="upravit"></a></td>
                    <td class="table-button"><a href="{% url 'clients:delete-insurance' pk=client.id id=insurance.id %}"><img src="{% static 'clients/delete.png' %}" height="25px" alt="delete" title="smazat"></a></td>
                </tr>
                {% empty %}
                    <p class="empty-message">Klient nemá sjednáno žádné pojištění.</p>
                {% endfor %}
            </table>
        </div>
    </div>

    

{% endblock section %}