{% extends 'clients/layout.html' %}

{% block title %}Upravit klienta{% endblock title %}

{% block navigation %}
<li><a  href="{% url 'clients:index' %}">O&nbsp;aplikaci</a></li>
<li><a class="active" href="{% url 'clients:list-all-clients' %}">Pojištěnci</a></li>
{% endblock navigation %}

{% block section %}
<h1>Úprava klienta</h1><hr>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="custom-btn" type="submit" value="Upravit klienta">
    </form>

{% endblock section %}