{% extends 'clients/layout.html' %}

{% block section %}
    <h1>Vítejte v jednoduché aplikaci pro správu pojištěnců</h1><br>

    <div class="content-box">
        <div class="content-box-header">
            <h2>APLIAKCE UMOŽŇUJE</h2>
            <h3>Základní CRUD operace pro správu pojištěnců</h3>
        </div>
        <div class="content-box-body">
            <p>zobrazení všech pojištěnců / vytvoření nového pojištěnce / úpravu pojištěnce / smazání pojištěnce</p>
            <p>u každého pojištěnce je možné vytvořit jedno nebo více pojištění, ty potom také prohlížet, upravovat, nebo mazat</p>
        </div>
    </div>


{% endblock section %}