{% extends 'clients/layout.html' %}

{% load static %}

{% block title %}Detail pojištění{% endblock title %}

{% block navigation %}
<li><a  href="{% url 'clients:index' %}">O&nbsp;aplikaci</a></li>
<li><a class="active" href="{% url 'clients:list-all-clients' %}">Pojištěnci</a></li>
{% endblock navigation %}

{% block section %}

<div class="page-path">
    <a href="{% url 'clients:index' %}">Domů</a>
    <p>&rsaquo;</p>
    <a href="{% url 'clients:list-all-clients' %}">Seznam pojištěnců</a> 
    <p>&rsaquo;</p>
    <a href="{% url 'clients:client-detail' client.id %}">{{ client.name }} {{ client.surname }}</a>
    <p>&rsaquo;</p>
    <p>{{ insurance.get_insurance_type_display }}</p>
</div>

<div class="secondary-info-box">

    <div class="content-box-header">
        <h2>{{ insurance.get_insurance_type_display }}</h2>
    </div>
    

    <table>
        <tr>
            <td>Klient:</td>
            <td>{{ client.name }} {{ client.surname }}</td>
        </tr>
        <tr>
            <td>Předmět pojištění:</td>
            <td>{{ insurance.subject }}</td>
        </tr>
        <tr>
            <td>Pojistná částka:</td>
            <td>{{ insurance.amount }} Kč</td>
        </tr>
        <tr>
            <td>Pojištěno od:</td>
            <td>{{ insurance.date_from|date:"d.m. Y" }}</td>
        </tr>
        <tr>
            <td>Pojištěno do:</td>
            <td>{{ insurance.date_to|date:"d.m. Y" }}</td>
        </tr>
    </table>
</div>

{% endblock section %}